@import "mocha.css";

* {
  font-family: FantasqueSansM Nerd Font;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

.modules-left {
  margin-left: 1rem;
}

.modules-right,
.modules-center,
.modules-left {
  margin-top: 0.5rem;
}

.modules-right {
  margin-right: 1rem;
}

#workspaces button {
  color: @lavender;
  padding: 0.2rem 0.4rem;
}

#workspaces button.active {
  color: white;
}

#workspaces button:hover {
  color: @sapphire;
}

.modules-right > * > * {
  padding: 0rem 0.7rem;
}

.modules-right > *:last-child > *{
  padding-right: 1.1rem;
}

#clock,
#custom-music,
#battery,
#network,
#power-profiles-daemon,
#custom-notification,
#pulseaudio {
  color: @lavender;
}

#power-profiles-daemon.performance {
  color: @yellow;
}

#power-profiles-daemon.balanced {
  color: @lavender;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#tray {
  margin-left: 2rem;
}

